@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>
        On this website, you can check Formula One teams under the Teams menu. Admin users can also create,
        modify and delete teams. For more information about Formula One, go to <a href="https://www.formula1.com/">https://www.formula1.com/</a>.
    </p>
</div>
